
 <!-- navbar.html -->
   <div class="header">
    <div class="h_Left">
        <a href="https://github.com/jacobbria" target="_blank">
            <img src="../assets/logos/github-logo.png"> 
        </a>
        <a href="https://www.linkedin.com/in/jacobbria/" target="_blank">
            <img src="../assets/logos/linkedin-logo.png"> 
        </a>
    </div>
    <div class="h_Right">
        <button id="h_Home"><a href="#">Home</a></button>
        <button id="h_Home"><a href="/html/blog.html">Blog</a></button>
        <button id="h_Contact"><a href="#contactSection">Contact</a></button>
    </div>
</div>
  
