html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;

}

body a {
   text-decoration: none;
   color: inherit; 
   
}

.blog_Content {
    margin-top: 45px;
    width: 100%;
}
.blog_Content h1 {
    
}
/* Blog Card Styling */
.card {
    margin-bottom: .5rem;
}
.content {
    text-indent: 10px; 
    line-height: 1.5; 
  }
  
  
