/* Page themes */
:root {  
    /* Theme Colors */
--primaryTheme: rgb(57, 151, 129);
--primaryThemeDark: rgb(51, 114, 99);
--secondaryTheme: rgb(218, 79, 47);

--primaryRed: rgb(204, 73, 73);
--darkRed: rgb(133, 40, 40);

--primaryWhite: white;

--headerPrimary: black;
--headerSecondary: rgb(130, 128, 128);
}

html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
}
img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    display: inline-block;
    opacity: .5;
}

.section {
    flex: 1;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Header */
#header {
    background-color:var(--primaryWhite);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#header_Left {
    flex: 1;
    /*background-color: aquamarine;*/
    width: 100%;
    display: flex;
    flex-direction: row;
}
#header_Right {
    flex: 1;
    display: flex;
    justify-content: end;
}
#header button {
    all: unset;
    margin-right: 1vh;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    transition: color .15s;
    cursor: pointer;
}
#header button:active {
    opacity: .5;
}
#header #h_Contact {
    font-weight: bold;
    color: var(--primaryTheme);
    border: solid;
    border-radius: 2px;
    border-color: var(--primaryThem);
}
#header #h_Contact:hover {
    color: var(--primaryThemeDark);
    border-color: var(--primaryThemeDark);
}
#header #h_Home:hover {
    color: var(--headerSecondary);
}

/* Landing Page */
#landingSection {
    background-color: var(--primaryTheme);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#landingSection #landing_Left {
    flex: 3;
    display: flex;
    height: 100vh;
    align-items: end;
    justify-content: center;
    color: white;
    
}
#landingSection #landing_Right {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primaryWhite);
    align-items: start;
    justify-content: center;
    color: white;
}
#landingSection #landing_Right h2 {
    line-height: 0;
}
#landingSection #landing_Right .list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    width: 98%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.list_item_left {
    flex: 1;
    width: 100%;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primaryTheme);
}
.list_item_right {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    justify-content: start;
    align-items: center;
    background-color: var(--primaryTheme);
    width: 100%;
    height: 100%;
    border: solid;
    border-color: transparent;
}
#landingSection #landing_Right ul {
    padding-right: 10px;
    list-style: none;
}
#landingSection #landing_Right li {
    line-height: auto;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
}
.icon {
    
    font-size: 40px;
    padding: 6px;
    border: solid;
    border-radius: 50%;
    background-color: white;
}
.degree {
    color: white;
    font-weight: bold;
}
.degreeTitle {
    font-style: italic;
}

/* Landing Page Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    /* Make landing section (Right side) and Left side stack vertically */
    #landingSection {
        flex-direction: column;
    }
    #landingSection #landing_Right li {
        font-size: 14px;
    }
    #landingSection #landing_Right h2 {
        font-size: 17px;
    }
  
}
/* Experience Page */
#expSection {
    background-color: lightgreen;
}
/* Education Page */
#eduSection {
    background-color: lightcoral;
}
/* Contact Page */
#contactSection {
    background-color: lightgoldenrodyellow;
}
/* Footer */
#footer {
    background-color: lightgray;
}