/* Page themes */
:root {  
                        /* Theme Colors */
    --primaryColor: rgb(22, 110, 110); /* Color of body background */
    --secondaryColor: rgb(48, 90, 91);

    --primaryRed: rgb(204, 73, 73);
    --darkRed: rgb(133, 40, 40);
    
    --primaryWhite: white;

    --primaryBlack: black;
    --lightBlack: rgb(65, 65, 65);

    --headerPrimary: black;
    --headerSecondary: rgb(130, 128, 128);
}

/* Base layout elements*/
body {
    background-color: var(--primaryColor);
    margin-top: 7vh;
    font-family: "Poppins", serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* header elements */
.header {
    width: 100%;
    height: 5vh;
    background-color:var(--primaryWhite);
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.header button {
    all: unset;
    margin-right: 1vh;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
}
.header button:hover {
    color: var(--headerSecondary) ;
}
.header button:active {
    opacity: .6;
}
.h.element.contact {
    border: solid;
    color: var(--primaryRed);
}
.h.element.contact:hover {
    color: var(--darkRed);
}



/* Landing elements*/
.landingContainer {
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 83vh;
    flex: 1;
}
.landingBarContainer button {
    all: unset;
    cursor: pointer;
}
.landingBarContainer {
    display: flex;
    height: 9vh;
}
.landing {
    background-color: var(--secondaryColor);
    margin: 0px;
    display: flex;
    
}
.landing p, h1 {
    display: block;
    margin: 0px;
    line-height: .85;
}
.left {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    color: var(--primaryWhite);
    justify-content: center;
    align-items:baseline;
}
.left h1 {
    font-size: 170px;
    line-height: 1;
}
.firstName, .lastName {
    color: var(--primaryWhite);
    font-size: 200px;
    font-weight: bolder;
}
.firstName {
    padding-left: 12px;
}
.lastName {
    font-size: 250px;
}
#landingSubtitle {
    font-size: 28px;
    padding-left: 15px;
    
}
.highlightText {
    color: var(--primaryRed);
    background-color: white;
    padding-right: 1vh;
    padding-left: 1vh;
}
.imgContainer {
    vertical-align: baseline;
}
.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

/* Landing bar elements*/
#downloadBtn, #viewBtn {
    display: flex;
    background-color: var(--primaryRed);
    justify-content: center;
    flex: 1;
    color: var(--primaryWhite);
    font-weight: bold;
    transition: background-color 1s;
}
#downloadBtn:hover {
    background-color: var(--darkRed);
}
#downloadBtn:active, #viewBtn:active {
    opacity: .6;
}
#viewBtn {
    background-color: white;
    color: var(--primaryBlack);
    transition: background-color 1s;
}
#viewBtn:hover {
    color: var(--primaryWhite);
    background-color: var(--lightBlack);
}

/* Technical Experience Section */
.techExperienceContainer {
height: 85vh;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--secondaryColor);
}
.techHeader {
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: center;   
}
.techHeader  h1 {   
    font-size: 80px; 
    margin-top: 20px;
    color: var(--primaryWhite);
}
.techExperienceGrid {
    margin-left: 5vh;
    margin-right: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vh;
    width: 100%;
    height: 85%;
}
.langContainer,.frameworkContainer, .toolsContainer {
    background-color: var(--primaryWhite);
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    padding: 1vh;
    justify-content: center;
    align-items: center;
    
}
.langImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8vh;
}
.langImg {
    object-fit: contain;
    width: 200px;
    height: 90px;
}

/* Education Section */
/* Left */
.eduContainer {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
.edu.left {
    flex: 1;
    display: flex;
    align-items: center;
    background-color:var(--secondaryColor);
}
.eduTitle {
    background-color: var(--primaryRed);
    width: 10vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotatedTitle {
    transform: rotate(-90deg);
    transform-origin: center;
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    color: var(--primaryWhite);
    width: 80vh;
}
.degreeContainer {
    display: flex;
    flex-direction: column;
    border: solid;
    justify-content: center;
    border-color: var(--primaryRed);
    border-radius: 5px;
    border-width: .5vh;
    margin: 2vh;
    padding: 1vh;
    height: auto;
    width: 90%;
    background-color: var(--secondaryColor);
   
}
.degreeContainer h2, p {
    margin: 0;
    padding: 0;
}
/* Right */
.edu.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

}
.eduDegree {
    color: var(--primaryRed);
}
.edu.right h2 {
    font-size: 10vh;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryWhite);
    padding: .5vh;
    margin: 0;
    margin-top: 1.5vh;
    width: 96%;
    height: min-content;

}
.certsContainer {
    color: white;
    line-height: 1.2;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.certsContainer h3, p {
    margin: 0;
    display: inline-block;
}
.certsContainer h3 {
    font-size: 4vh;
}

/* Contact Section */
.contactSection {
    width: 100%;
    height: 90vh;
    background-color: var(--secondaryColor);
    border-width: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.contactForm {
    padding: 2vh;
    background-color: var(--primaryColor);
    border: solid;
    
}
.contactHeader {
    color: var(--primaryWhite);
    font-size: 9vh;
    font-weight: bold;
    margin: 0;
    text-align: center;
    
}
.contactInfo {
    display: flex;
    flex-direction: column;
}
.emailInput {
    margin-bottom: .5vh;
    height: 4vh;
}
#emailForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#emailMessage {
    margin-bottom: .5vh;
}
#submitBtn {
   all: unset;
   margin-right: 1vh;
   margin-top: 2px;
   margin-bottom: 2px;
   padding: 5px;
   background-color: var(--primaryWhite);
   color: var(--primaryColor);
   border: solid;
   width:fit-content;
   cursor: pointer;
   transition: color .15s;
}
#submitBtn:hover {
    color: var(--headerSecondary);
}
#submitBtn:active {
    opacity: .6;
}
.contactInfo {
    width: 100%;
}
.contactInfo p{
    background-color: var(--primaryRed);
    margin: 3px;
   
}

/* Footer */
.footer {
    background-color: white;
    width: 100%;
}

